* {
    box-sizing: border-box;
}

@mixin flexCenter($direction){
    display: flex;    
    flex-direction: $direction;
    align-items: center;
    justify-content: center; 	
}

.container{
    @include flexCenter(column);
    margin-top: 30px;
}

.cards{
    @include flexCenter(row); 
    flex-wrap: wrap;
}

.btn-black {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    width: 70%;        
    position: relative;
    padding: 10px;
    margin: 15px 0;        
    border: 1px solid #000;
    background-color: #FFF;
    cursor: pointer; 
    &:before {
        position: absolute; 
        left: 0;
        bottom: 0;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: #000;
        transform-origin: 0 bottom 0;
        transform: scaleY(0);
        transition: .4s ease-out;
    }
    
    &:hover {
        .btn-title {
            color: #FFF;
        }
        &:before {
            transform: scaleY(1);
        }
    }
    .btn-title {        
        position: relative;        
        font-weight: 700;
        line-height: 1.333;
        transition: .4s ease-out;
    }
}