@import "../../App";

.card{
    @include flexCenter(column);    
    width: 340px;
    padding: 2px 4px;    

    .clock-image{
        width: 90%;    
    }

    .name{
        text-align: center;
        text-transform: uppercase;
        font-weight: bolder;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        -webkit-box-orient: vertical;
    }

    .price{
        color: burlywood;
        font-weight: 600;
    }

    .installment{
        margin: 0;
    }

    .btn-buy {
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: inherit;
        text-transform: uppercase;
        width: 70%;        
        position: relative;
        padding: 10px;
        margin: 15px 0;        
        border: 1px solid #000;
        background-color: #FFF;
        cursor: pointer; 
        &:before {
            position: absolute; 
            left: 0;
            bottom: 0;
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-color: #000;
            transform-origin: 0 bottom 0;
            transform: scaleY(0);
            transition: .4s ease-out;
        }
        
        &:hover {
            .title {
                color: #FFF;
            }
            &:before {
                transform: scaleY(1);
            }
        }
    }
    
    .title {        
        position: relative;        
        font-weight: 700;
        line-height: 1.333;
        transition: .4s ease-out;
    }
    
    .btn-hide{
        visibility: hidden;
    }

}

.card:hover{    
    .btn-hide{
        visibility: visible;
    }
}







