@import "../../App.scss";

.newsletter{
    @include flexCenter(column);
    background-color: #eee;
    width: 100%;
    padding: 20px;

    .title{
        margin: 20px 0 0 0;
    }

    .description{
        margin: 8px 0;
        font-weight: 500;
    }

    .subdescription{
        margin: 0;        
    }

    .forms{
        @include flexCenter(row);
        flex-wrap: wrap;
        margin: 40px 10px;

        .form-field, .form-button{            
            height: 40px;
            margin: 10px;
        }

        .form-field{
            width: 35vh;
            background: none;
            padding: 0 0 5px 14px;
            height: 35px;
            border: none;
            border-bottom: 1px solid #000;            
        }

        .form-field:focus{            
            outline: none;
            border-bottom: 2px solid #00f;            
        }

        .form-button{
            width: 140px;
            border: 1px solid #000;
            background: none;
            text-transform: uppercase;
        }
    }
}

